#admin-bar #admin-bar-menu > li > .dropdown > li > span {
    padding-left: 28px;
}
#admin-bar #admin-bar-menu li.shortcuts.expandable,
.shortcuts ul li {
  background-color: #0073bd;
}
#admin-bar #admin-bar-menu > li > .dropdown > li > a.shortcuts.expanded-trail,
.shortcuts ul li:hover {
  background-color: #338FCA;
}
